@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.icon {
  align-items: center;
  display: flex;
  margin: 0.5rem 0.5rem 1rem 0;
  img {
    margin-right: 0.5rem;
  }
  p {
    margin: 0;
  }
}

.infoBlock {
  font-size: 0.875rem;
  font-weight: 500;
  &:nth-child(2) {
    margin: 0 1rem;
  }
}

.infoBlockContent p {
  color: $text-grey-dark;
  font-family: "MetropolisMedium", $font-fallback;
  margin: 0 0 0.5rem 0;
}
