// Green
$mint-green-logo: #64e1c3;
$mint-green-main: #94efd2;
$mint-green-disabled: #c3f6e6;
$mint-green-pressed: #7bd6b9;
$forest-green: #439b83;

// Black
$black: #000000;
$almost-black: #222222;
$shaft-black: #2d2d2d;
$matte-black: #393939;

// Grey
$dark-grey: #5f5f5f;
$medium-grey: #999999;
$grey: #d1d1d1;
$light-grey: #ececec;
$white-smoke: #f9f9f9;
$white: #ffffff;

// Red
$poppy-red: #fe1b1b;

// Status
$status-upsell: #7b31d9;
$status-in-progress: #f16500;
$status-paid: #64e1c3;
$status-failed: #fe1b1b;

// Variables
$body-bg: $white-smoke;
$header-bg: $white;
$header-border: $light-grey;
$text-grey-dark: $dark-grey;
$link-color: #0a8f73;
