@font-face {
  font-family: "MetropolisBold";
  src: local("MetropolisBold"),
    url(../fonts/Metropolis-Bold.woff2) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "MetropolisSemibold";
  src: local("MetropolisSemibold"),
    url(../fonts/Metropolis-SemiBold.woff2) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "MetropolisMedium";
  src: local("MetropolisMedium"),
    url(../fonts/Metropolis-Medium.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "MetropolisRegular";
  src: local("MetropolisRegular"),
    url(../fonts/Metropolis-Regular.woff2) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "MetropolisLight";
  src: local("MetropolisLight"),
    url(../fonts/Metropolis-Light.woff2) format("woff");
  font-weight: 300;
}
