@import "./fonts.scss";
@import "./colors.scss";
@import "./labels.scss";
@import "./status.scss";

body {
  background-color: $body-bg;
  margin: 0;
  font-size: 0.875rem;
  font-family: MetropolisSemibold, $font-fallback;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
