@import "./colors.scss";

.Online {
  color: $almost-black;
  background-color: $light-grey;
}

.Instore {
  color: $white;
  background-color: $black;
}

.Manual {
  color: $white;
  background-color: $status-in-progress;
}
