.Failed,
.Inprogress,
.Paid {
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-right: 0.5rem;
  width: 8px;
}

.Failed {
  background-color: $status-failed;
}

.Inprogress {
  background-color: $status-in-progress;
}

.Paid {
  background-color: $status-paid;
}
