@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
  align-items: center;
  background: $header-bg;
  border-bottom: 1px solid $header-border;
  display: flex;
  padding: 2.125rem;
  @media (max-width: $large) {
    padding: 2.125rem 1rem;
  }
  h1 {
    font-size: 1.25rem;
    margin: 0;
  }
}
