@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.container {
  max-width: 1300px;
  margin: 3.5rem auto 0 auto;
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  .userBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    @media (max-width: $large) {
      padding: 0 1rem;
    }
  }
  @media (max-width: $large) {
    .overflowScroll {
      overflow: scroll;
    }
  }
}
