@import "../../styles/colors.scss";

.container {
  max-width: 1300px;
  margin: 3.5rem auto 0 auto;
  width: 100%;
  h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  .userBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .overflowScroll {
    overflow: scroll;
  }
}
