@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.table {
  width: 100%;
  font-size: 0.875rem;

  thead tr,
  tbody tr {
    display: grid;
    grid-template-columns:
      minmax(30px, 100px)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr);
  }
  thead {
    tr {
      color: $text-grey-dark;
      padding-bottom: 2rem;
    }
    th {
      font-family: "MetropolisMedium", $font-fallback;
      font-weight: inherit;
      text-align: left;
      &:first-child {
        grid-column-start: 2;
      }
    }
  }
  tbody {
    tr {
      position: relative;
      align-items: center;
    }
    td:nth-child(2) {
      grid-column-start: 2;
    }
  }
}
