@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";

.table {
  font-size: 0.875rem;
  width: 100%;
  @media (max-width: $large) {
    padding: 1rem 1rem;
  }
  thead tr,
  tbody tr {
    display: grid;
    grid-template-columns:
      minmax(60px, 100px)
      minmax(150px, 1fr)
      minmax(120px, 1fr)
      minmax(120px, 1fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
      minmax(100px, 1fr);
  }
  thead {
    tr {
      color: $medium-grey;
      padding-bottom: 1.25rem;
    }
    th {
      font-family: "MetropolisMedium", $font-fallback;
      font-weight: inherit;
      text-align: left;
      &:first-child {
        grid-column-start: 2;
      }
    }
  }
  tbody {
    tr {
      align-items: center;
      position: relative;
    }
    td:nth-child(2) {
      grid-column-start: 2;
    }
  }
}
