@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.tooltip {
  align-items: center;
  display: flex;
  button {
    background: none;
    border: none;
    color: $link-color;
    font-family: "MetropolisSemibold", $font-fallback;
    outline: none;
  }
  .icon {
    align-items: center;
    background-color: $light-grey;
    border-radius: 50%;
    display: flex;
    font-size: 0.75rem;
    height: 16px;
    justify-content: center;
    margin-right: 0.125rem;
    width: 16px;
  }
}
